# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [11]:
weather_df = pd.read_csv("../output_data/cities.csv")
weather_df = weather_df.drop(weather_df.columns[0], axis=1)

weather_df

,City,Cloudiness,Country,Date,Humidity,Lat,Long,Max Temp,Wind Speed
0,Rikitea,97,PF,1603908304,83,-23.12,-134.97,74.71,13.96
1,Mahébourg,67,MU,1603908305,73,-20.41,57.70,73.00,5.01
2,Iqaluit,90,CA,1603908305,61,63.75,-68.51,17.60,9.17
3,Albany,100,US,1603908095,87,42.60,-73.97,48.99,1.10
4,Ostër,0,UA,1603908046,100,50.95,30.88,52.00,4.47
...,...,...,...,...,...,...,...,...,...
545,Tezu,0,IN,1603908394,53,27.92,96.17,72.19,3.83
546,Klaksvík,94,FO,1603908394,93,62.23,-6.59,44.60,12.75
547,Abnūb,0,EG,1603908394,51,27.27,31.15,80.60,13.87
548,Aasiaat,75,GL,1603908394,92,68.71,-52.87,13.01,6.44
549,Nagua,20,DO,1603908394,74,19.38,-69.85,86.00,17.22

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
locations = weather_df[["Lat", "Long"]].astype(float)
humidity = weather_df["Humidity"].astype(float)

In [15]:
gmaps.configure(api_key=g_key)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [13]:
hotel_df = weather_df.loc[(weather_df['Max Temp'] >= 70) & (weather_df['Max Temp'] <= 80) & (weather_df['Cloudiness']==0) & (weather_df['Wind Speed'] < 10)]
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Long,Max Temp,Wind Speed
63,Udaipur,0,IN,1603908018,35,24.57,73.69,70.03,3.27
93,Roebourne,0,AU,1603908317,89,-20.78,117.13,70.30,7.34
176,Guerrero Negro,0,MX,1603908328,22,27.98,-114.06,70.29,0.34
182,Chittaurgarh,0,IN,1603908329,28,24.88,74.63,70.11,2.89
193,Puri,0,IN,1603908331,54,19.80,85.85,77.22,6.13
207,Lages,0,BR,1603908100,33,-27.82,-50.33,77.56,8.84
273,Charters Towers,0,AU,1603908346,35,-20.10,146.27,70.90,9.01
333,Riyadh,0,SA,1603908139,23,24.69,46.72,75.20,4.70
345,Bilma,0,NE,1603908358,16,18.69,12.92,78.78,7.38
373,Tura,0,IN,1603908364,93,25.52,90.22,71.08,3.49
376,Sālūr,0,IN,1603908364,59,18.53,83.22,73.13,2.26
400,Bihārīganj,0,IN,1603908368,63,25.73,86.98,73.78,4.90
431,Sur,0,OM,1603908374,61,22.57,59.53,72.12,1.86
471,San Quintín,0,MX,1603908380,22,30.48,-115.95,70.97,5.91
473,Marrakesh,0,MA,1603908222,38,31.63,-8.01,77.00,5.82
481,Karratha,0,AU,1603908382,88,-20.74,116.85,70.63,6.82
482,Muscat,0,OM,1603908382,61,23.61,58.59,77.00,1.12
484,Hamīrpur,0,IN,1603908383,24,25.95,80.15,73.15,4.43
545,Tezu,0,IN,1603908394,53,27.92,96.17,72.19,3.83

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
hotel_df["Hotel Name"]=""
hotel_df

C:\Users\vivie\anaconda3\envs\PythonData1\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,City,Cloudiness,Country,Date,Humidity,Lat,Long,Max Temp,Wind Speed,Hotel Name
63,Udaipur,0,IN,1603908018,35,24.57,73.69,70.03,3.27,
93,Roebourne,0,AU,1603908317,89,-20.78,117.13,70.30,7.34,
176,Guerrero Negro,0,MX,1603908328,22,27.98,-114.06,70.29,0.34,
182,Chittaurgarh,0,IN,1603908329,28,24.88,74.63,70.11,2.89,
193,Puri,0,IN,1603908331,54,19.80,85.85,77.22,6.13,
207,Lages,0,BR,1603908100,33,-27.82,-50.33,77.56,8.84,
273,Charters Towers,0,AU,1603908346,35,-20.10,146.27,70.90,9.01,
333,Riyadh,0,SA,1603908139,23,24.69,46.72,75.20,4.70,
345,Bilma,0,NE,1603908358,16,18.69,12.92,78.78,7.38,
373,Tura,0,IN,1603908364,93,25.52,90.22,71.08,3.49,
376,Sālūr,0,IN,1603908364,59,18.53,83.22,73.13,2.26,
400,Bihārīganj,0,IN,1603908368,63,25.73,86.98,73.78,4.90,
431,Sur,0,OM,1603908374,61,22.57,59.53,72.12,1.86,
471,San Quintín,0,MX,1603908380,22,30.48,-115.95,70.97,5.91,
473,Marrakesh,0,MA,1603908222,38,31.63,-8.01,77.00,5.82,
481,Karratha,0,AU,1603908382,88,-20.74,116.85,70.63,6.82,
482,Muscat,0,OM,1603908382,61,23.61,58.59,77.00,1.12,
484,Hamīrpur,0,IN,1603908383,24,25.95,80.15,73.15,4.43,
545,Tezu,0,IN,1603908394,53,27.92,96.17,72.19,3.83,

In [8]:
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key,
    "location": "23.61,58.59"
}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
name_address = requests.get(base_url, params=params)
    
name_address = name_address.json()

name_address

{'html_attributions': [],
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 23.5671512, 'lng': 58.6155072},
    'viewport': {'northeast': {'lat': 23.56829382989272,
      'lng': 58.61675992989272},
     'southwest': {'lat': 23.56559417010727, 'lng': 58.61406027010727}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Al Bustan Palace, A Ritz-Carlton Hotel',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 576,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108593968168219378701">Al Bustan Palace, a Ritz-Carlton Hotel</a>'],
     'photo_reference': 'CmRaAAAA3gWO6buEOI0FCKe4XPAmVSvLEHQ_XGgJ29LYPfLyX2j-8ZMLs52i0Sd5wUwrJciEs-3VUjbeXpRANWAZkGaz3ZWSb0KFMgNBTk5-IrOOWa2i74_FUWPWe8c3ScFuFsbQEhD8zKofo59iH5b_QensiifLGhR46-ql5Pw6vbJHgtqX9JRRpHVj2g',
     'width': 1024}],
   'place_id': 'ChIJgUYW6zrxkT4RIaJvt4wvA_Q',
   'plus_code': {'compound_code': 'HJ88+V6 Muscat, Oman',
    'global_code': '7HMWHJ88+V6'},
   'rating': 4.7,
   'reference': 'ChIJgUYW6zrxkT4RIaJvt4wvA_Q',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1897,
   'vicinity': 'OM, Al Bustan St'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 23.5974122, 'lng': 58.55234910000001},
    'viewport': {'northeast': {'lat': 23.59840612989272,
      'lng': 58.55386617989272},
     'southwest': {'lat': 23.59570647010728, 'lng': 58.55116652010728}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Sheraton Oman Hotel',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 810,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107318205560536581233">Sheraton Oman Hotel</a>'],
     'photo_reference': 'CmRaAAAA88oQvFelTsx2mGPzTR6hOZ_-1pZwF7PItBCh12D6j6PDbVkslHQqc8tu5u9YfV_fO6YxY3pG3bNEUu6kavDu6nq4WH9v5XRUpVCKikST_ZE1fpaY8gUho9qN4hYcPrL6EhAWHs7BsIEKg3UP9yJIcBwIGhTYYS7tEJ2yhOQby-ZDbK4e3blZYQ',
     'width': 1440}],
   'place_id': 'ChIJGYqTsi34kT4Rgr-rLR0VR98',
   'plus_code': {'compound_code': 'HHW2+XW Muscat, Oman',
    'global_code': '7HMWHHW2+XW'},
   'rating': 4.4,
   'reference': 'ChIJGYqTsi34kT4Rgr-rLR0VR98',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 2367,
   'vicinity': '40 Way Ruwi, Sultanate of Oman, Muscat'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 23.5910748, 'lng': 58.54489},
    'viewport': {'northeast': {'lat': 23.59239607989272,
      'lng': 58.54619257989273},
     'southwest': {'lat': 23.58969642010727, 'lng': 58.54349292010728}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Golden Tulip Headington Ruwi',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102180001938137985154">Tobias Lundgren</a>'],
     'photo_reference': 'CmRaAAAA4AhECmNB5ykdW8eDAL01B8EqCYz1AyU9cRv46GqSodtw8CuLgzjJh9TcY2bk_QtX8Yo1qxpGcG3kuhWDbBlMz17FbN6ZzLGmIJNiTapI9Kr8qFlgX7b66Qj7M4R7jOnfEhCy3awYElAGz--OjFmweH8pGhSJB6-r6ZgfWC8BJjb0lFednAEF2g',
     'width': 4032}],
   'place_id': 'ChIJM6aHe9v5kT4RQG45CPnAP5A',
   'plus_code': {'compound_code': 'HGRV+CX Muscat, Oman',
    'global_code': '7HMWHGRV+CX'},
   'rating': 4.2,
   'reference': 'ChIJM6aHe9v5kT4RQG45CPnAP5A',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 672,
   'vicinity': 'Souq Street, PB# 254, PC 131، Muscat'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 23.5641667, 'lng': 58.5819444},
    'viewport': {'northeast': {'lat': 23.56544832989272,
      'lng': 58.58325442989271},
     'southwest': {'lat': 23.56274867010728, 'lng': 58.58055477010727}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Pioneer Hotel Apartments',
   'photos': [{'height': 3456,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116624296676728250477">riyas asaf ali</a>'],
     'photo_reference': 'CmRZAAAAa6obWt048TZJ2XjAlPIksCh5Q1dRcr5DlOc7diCckY8T5BDas903NYUlvik0haWa5ADmbHQ1Uj_-ryQzS7GC63Yz04GvS3rZIKJJyTLy-GxgnPyIsZ93_CzkXUDNFsyfEhCKTjSWib4cKB2qQw1lrx_zGhSoc7RcDG4uaqBSVoDHWevnkE5W6g',
     'width': 4608}],
   'place_id': 'ChIJp8nD2MjwkT4RH97kK_tksGQ',
   'plus_code': {'compound_code': 'HH7J+MQ Muscat, Oman',
    'global_code': '7HMWHH7J+MQ'},
   'rating': 3.9,
   'reference': 'ChIJp8nD2MjwkT4RH97kK_tksGQ',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 285,
   'vicinity': 'Sultante Of Oman , Muscat , Muttrah , Al Wadi Al Kabir، 63 An Nuzhah St, Muscat'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 23.6063713, 'lng': 58.5389336},
    'viewport': {'northeast': {'lat': 23.60772022989272,
      'lng': 58.54033067989273},
     'southwest': {'lat': 23.60502057010728, 'lng': 58.53763102010728}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Al Falaj Hotel',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 2268,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/106496189172451063919">Ashraf Mehdaly</a>'],
     'photo_reference': 'CmRaAAAAmno50Ry0Gc9nEIXLcF4s9VDOBSrh60FltMhN9nHgyfnEgfe4SpjqQWQHbpE1vDDL2EPUUZRP3LOLERyEtRDvxZFj8rL4luyL63wFSYvY0ciGvREPsbnOrd3FbHsUh93_EhB7Z4PbhiBIiBTOwgD4pYVlGhQNNwFi_JRcH1nLtmUBIhLgXnu9YQ',
     'width': 4032}],
   'place_id': 'ChIJqfUBNqL4kT4Rkj5XVyUVJdE',
   'plus_code': {'compound_code': 'JG4Q+GH Muscat, Oman',
    'global_code': '7HMWJG4Q+GH'},
   'rating': 3.9,
   'reference': 'ChIJqfUBNqL4kT4Rkj5XVyUVJdE',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 2023,
   'vicinity': '1692 Al Hamriya، Muscat'}],
 'status': 'OK'}

In [17]:
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lng = row["Long"] 
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotel_result = requests.get(base_url, params=params)
    
    hotel_result = hotel_result.json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_result["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

C:\Users\vivie\anaconda3\envs\PythonData1\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Missing field/result... skipping.
Missing field/result... skipping.

In [18]:
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Long,Max Temp,Wind Speed,Hotel Name
63,Udaipur,0,IN,1603908018,35,24.57,73.69,70.03,3.27,"The Oberoi Udaivilas, Udaipur"
93,Roebourne,0,AU,1603908317,89,-20.78,117.13,70.30,7.34,Latitude20 Roebourne Village
176,Guerrero Negro,0,MX,1603908328,22,27.98,-114.06,70.29,0.34,The Halfway Inn
182,Chittaurgarh,0,IN,1603908329,28,24.88,74.63,70.11,2.89,Hotel The Padmavati Fort View
193,Puri,0,IN,1603908331,54,19.80,85.85,77.22,6.13,"MAYFAIR Heritage, Puri"
207,Lages,0,BR,1603908100,33,-27.82,-50.33,77.56,8.84,Lages Plaza Hotel
273,Charters Towers,0,AU,1603908346,35,-20.10,146.27,70.90,9.01,Commercial Hotel
333,Riyadh,0,SA,1603908139,23,24.69,46.72,75.20,4.70,Vittori Palace Hotel
345,Bilma,0,NE,1603908358,16,18.69,12.92,78.78,7.38,
373,Tura,0,IN,1603908364,93,25.52,90.22,71.08,3.49,Hotel Polo Orchid
376,Sālūr,0,IN,1603908364,59,18.53,83.22,73.13,2.26,Hotel Ajantha
400,Bihārīganj,0,IN,1603908368,63,25.73,86.98,73.78,4.90,
431,Sur,0,OM,1603908374,61,22.57,59.53,72.12,1.86,Sur Plaza Hotel
471,San Quintín,0,MX,1603908380,22,30.48,-115.95,70.97,5.91,Old Mill Hotel
473,Marrakesh,0,MA,1603908222,38,31.63,-8.01,77.00,5.82,La Mamounia
481,Karratha,0,AU,1603908382,88,-20.74,116.85,70.63,6.82,Latitude20 The Dunes Apartments
482,Muscat,0,OM,1603908382,61,23.61,58.59,77.00,1.12,"Al Bustan Palace, A Ritz-Carlton Hotel"
484,Hamīrpur,0,IN,1603908383,24,25.95,80.15,73.15,4.43,Shop online hotel booking
545,Tezu,0,IN,1603908394,53,27.92,96.17,72.19,3.83,Capital O 66991 Hotel Highway

In [19]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Long"]]

In [23]:
# Add marker layer ontop of heat map

locations = weather_df[["Lat", "Long"]].astype(float)
humidity = weather_df["Humidity"].astype(float)

gmaps.configure(api_key=g_key)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

hotel_locations = hotel_df[["Lat", "Long"]].astype(float)

markers = gmaps.marker_layer(hotel_locations,info_box_content=hotel_info)
fig.add_layer(markers)

fig

# Display figure

Figure(layout=FigureLayout(height='420px'))